@import "tailwindcss";

@theme {

  --color-vintage-dark: #121212;
  --color-vintage-card: #1c1917;
  --color-vintage-border: #292524;
  --color-vintage-amber: #f59e0b;
  --color-vintage-cream: #f5f5f4;
}

@layer base {
  body {
    @apply bg-vintage-dark text-vintage-cream font-sans;
  }
}

